body {
	background-color: #f2f2f2;
	overflow-x: hidden;
}

.country-column {
	text-align: center;
	padding: 10px;
	background-color: white;
	background-clip: content-box;
}

.country-column img {
	height: 200px;
	width: 200px;
}
