body {
	background-color: #f2f2f2;
	overflow-x: hidden;
}

.column {
	text-align: center;
	padding: 10px;
	background-color: white;
	background-clip: content-box;
}

.stat h4 {
	padding: 10px;
}

.country-column img {
	height: 128px;
	width: 128px;
}

.progress {
	height: 6px;
}

.leaflet-container {
	height: 600px;
}

.world-map {
	padding: 15px;
}

.country-popup {
	background-color: white;
	color: black;
}
