body {
	background-color: #f2f2f2;
	overflow-x: hidden;
}

.column {
	text-align: center;
	padding: 10px;
	background-color: white;
	background-clip: content-box;
}

.stat h4 {
	padding: 10px;
}

.country-column img {
	padding: 10px;
	height: 128px;
	width: 192px;
}

.progress {
	height: 6px;
}

.leaflet-container {
	height: 600px;
}

.world-map {
	padding: 15px;
}

.country-popup {
	background-color: white;
	color: black;
}

.topcountries {
	max-height: 650px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.topcountries-img {
	/* height: 55.66px; */
	/* width: 83.33px; */
}

.topcountries-info {
	font-size: small;
	background: #f2f2f2;
	margin: 8px;
}
